<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog | Sololearn</title>
  <link rel = "icon" href = 
  "https://blob.sololearn.com/avatars/sololearn.png" 
          type = "image/x-icon">
  <script src="../js/blog.js"></script>
  <link rel="stylesheet" href="../css/media.css" />
  <link rel="stylesheet" href="../css/navbar.css" />
  <link rel="stylesheet" href="../css/blog.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <%- include('navbar.ejs') %>
  <div class="blog_page">
    <div class="text">
      <h1>BLOG</h1>
    </div>
    <div class="blog_buttons">
      <button class="btn1">ALL</button>
      <button class="btn2">LEARN TO CODE</button>
      <button class="btn3">CAREER DEVELOPMENT</button>
      <button class="btn4">INSIGHTS</button>
      <button class="btn5">COMPANY NEWS</button>
    </div>
    <div class="blog_boxes">
      <div class="box">
        <img src="https://api.sololearn.com/Uploads/What_Is_Groovy__blog.png" alt="img">
        <div class="small_texts">
          <p>JANUARY 11, 2022</p>
          <i class="fa fa-hour"></i>
          <p class="read">4 minutes read</p>
        </div>
        <div class="text">
          <p>What is Groovy?</p>
        </div>
      </div>
      <div class="box">
        <img src="		https://api.sololearn.com/Uploads/Christmas_blog_post.png" alt="img">
        <div class="small_texts">
          <p>DECEMBER 25, 2021</p>
          <i class="fa fa-hour"></i>
          <p class="read">3 minutes read</p>
        </div>
        <div class="text">
          <p>Meet the Newest Members of the Sololearn Community!</p>
        </div>
      </div>
      <div class="box">
        <img src="	https://api.sololearn.com/Uploads/Game_Development_with_JavaScript_by_Sololearn_blog.png" alt="img">
        <div class="small_texts">
          <p>DECEMBER 21, 2021</p>
          <i class="fa fa-hour"></i>
          <p class="read">2 minutes read</p>
        </div>
        <div class="text">
          <p>Game Development with JavaScript by Sololearn </p>
        </div>
      </div>
      <div class="box">
        <img src="https://api.sololearn.com/Uploads/Cybersecurity_Careers_For_Coders_blog.jpg" alt="img">
        <div class="small_texts">
          <p>DECEMBER 03, 2021</p>
          <i class="fa fa-hour"></i>
          <p class="read">4 minutes read</p>
        </div>
        <div class="text">
          <p>Cybersecurity Careers For Coders</p>
        </div>
      </div>
      <div class="box">
        <img src="	https://api.sololearn.com/Uploads/What_is_Ethical_Hacking_and_How_is_it_Used__blog.png" alt="img">
        <div class="small_texts">
          <p>JANUARY 11, 2021</p>
          <i class="fa fa-hour"></i>
          <p class="read">5 minutes read</p>
        </div>
        <div class="text">
          <p>What is Ethical Hacking and How is it Used?</p>
        </div>
      </div>
      <div class="box">
        <img src="	https://api.sololearn.com/Uploads/gamification_blog.png" alt="img">
        <div class="small_texts">
          <p>NOVEMBER 02, 2021</p>
          <i class="fa fa-hour"></i>
          <p class="read">2 minutes read</p>
        </div>
        <div class="text">
          <p>Introducing Bits — A new virtual currency at Sololearn!</p>
        </div>
      </div>
      <div class="box">
        <img src="https://api.sololearn.com/Uploads/Coding_For_Finance_Blogpost_blog.png" alt="img">
        <div class="small_texts">
          <p>OCTOBER 22, 2021</p>
          <i class="fa fa-hour"></i>
          <p class="read">2 minutes read</p>
        </div>
        <div class="text">
          <p>Python for Finance - a NEW course live on Sololearn!</p>
        </div>
      </div>
      <div class="box">
        <img src="https://api.sololearn.com/Uploads/How_Python_Helps_Accountants_Use_Excel_blog.png" alt="img">
        <div class="small_texts">
          <p>OCTOBER 17, 2021</p>
          <i class="fa fa-hour"></i>
          <p class="read">6 minutes read</p>
        </div>
        <div class="text">
          <p>How Python Helps Accountants Use Excel</p>
        </div>
      </div>
      <div class="box">
        <img src="	https://api.sololearn.com/Uploads/Building_Web_Applications_Using_C__And_Blazor.png" alt="img">
        <div class="small_texts">
          <p>OCTOBER 15, 2021</p>
          <i class="fa fa-hour"></i>
          <p class="read">5 minutes read</p>
        </div>
        <div class="text">
          <p>Building Web Applications Using C# And Blazor</p>
        </div>
      </div>
      
    </div><div class="btn">
        <button>LOAD MORE</button>
      </div>
  </div>
  </div>
  <%- include('footer.ejs') %>
</body>

</html>