<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses | Sololearn</title>
    <link rel = "icon" href = 
    "https://blob.sololearn.com/avatars/sololearn.png" 
            type = "image/x-icon">
    <link rel="stylesheet" href="../css/media.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/courses.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="courses_page">
      <p>What would you like to learn?</p>
      <div class="courses">
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1073.png"
            alt=""
          />
          <p>Python Core</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1051.png"
            alt=""
          />
          <p>C++</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1068.png"
            alt=""
          />
          <p>Java</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1080.png"
            alt=""
          />
          <p>C#</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1024.png"
            alt=""
          />
          <p>JavaScript</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1014.png"
            alt=""
          />
          <p>HTML</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1023.png"
            alt=""
          />
          <p>CSS</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1140.png"
            alt=""
          />
          <p>Game Development with JS/p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1162.png"
            alt=""
          />
          <p>Responsive Web Design</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1169.png"
            alt=""
          />
          <p>Python for Beginners</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1161.png"
            alt=""
          />
          <p>Python for Data Science</p>
        </div>
        <div class="box">
          <img
            src="https://sololearnuploads.azureedge.net/uploads/courses/1060.png"
            alt=""
          />
          <p>SQL</p>
        </div>
        <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1147.png"
              alt=""
            />
            <p>R</p>
          </div> 
          <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1093.png"
              alt=""
            />
            <p>Data Science</p>
          </div> <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1094.png"
              alt=""
            />
            <p>Machine Learning</p>
          </div> <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1165.png"
              alt=""
            />
            <p>R</p>
          </div> <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1097.png"
              alt=""
            />
            <p>Coding for Marketers</p>
          </div> <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1092.png"
              alt=""
            />
            <p>Angular + NestJS</p>
          </div> <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1158.png"
              alt=""
            />
            <p>Intermediate Python</p>
          </div> <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1160.png"
              alt=""
            />
            <p>Kotlin</p>
          </div> <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1164.png"
              alt=""
            />
            <p>Go</p>
          </div>
          <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1089.png"
              alt=""
            />
            <p>C</p>
          </div>
          <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1159.png"
              alt=""
            />
            <p>Python Data Structures</p>
          </div>
          <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1059.png"
              alt=""
            />
            <p>PHP</p>
          </div>
          <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1081.png"
              alt=""
            />
            <p>Ruby</p>
          </div>
          <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1075.png"
              alt=""
            />
            <p>Swift 4</p>
          </div>

          <div class="box">
            <img
              src="https://sololearnuploads.azureedge.net/uploads/courses/1082.png"
              alt=""
            />
            <p>Jquery</p>
          </div>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
