<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <div class="links">
        <span>Home</span>
        <span>FAQ</span>
        <span>Courses</span>
        <span>Contact</span>
        <span>Code Playground</span>
        <span>Careers <h5>We're hiring</h5></span>
        <span>Top learners</span>
        <span>Terms of Use</span>
        <span>Blog</span>
        <span>Privacy policy</span>
        <span>Pro</span>
      </div>
      <div class="author">Made with ❤️ by <span>khasan </span>| © 2022</div>
</body>
</html>