<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoloLearn</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel = "icon" href = 
    "https://blob.sololearn.com/avatars/sololearn.png" 
            type = "image/x-icon">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include('navbar.ejs') %>

    <div class="home_page">
      <div class="texts">
        <h1>
          The best way to learn to <br />
          code
        </h1>
        <p>
          Courses designed by experts with real-world practice. <br />
          Join our global community. <i style="color: white">It's free.</i>
        </p>
      </div>
      <div class="buttons">
        <button class="sln">Start Learning now!</button>
        <div class="lines">
          <div class="line1"></div>
          <p>or</p>
          <div class="line2"></div>
        </div>
        <div class="down_buttons">
          <button class="google_button">
            <i class="fa fa-google"></i>Google
          </button>
          <button class="facebook_button">
            <i class="fa fa-facebook"></i>Facebook
          </button>
        </div>
      </div>
    </div>
    <div class="courses">
      <div class="box">
        <img
          class="c_7"
          src="https://i.postimg.cc/GtQccg66/1014-1.png"
          alt=""
        />
        <p>HTML</p>
      </div>
      <div class="box">
        <img
          class="c_8"
          src="https://i.postimg.cc/zBmNrY2x/1023-1.png"
          alt=""
        />
        <p>CSS</p>
      </div>
      <div class="box">
        <img class="c_4" src="https://i.postimg.cc/152tC2c3/1024.png" alt="" />
        <p>JavaScript</p>
      </div>
      <div class="box">
        <img class="c_2" src="https://i.postimg.cc/Qt3K6wDT/1051.png " alt="" />
        <p>C++</p>
      </div>
    </div>
    <div class="cards">
      <div class="card">
        <img
          src="https://i.postimg.cc/cLnTzv2t/Screenshot-20220115-105908-2.png "
          alt=""
        />
        <div class="texts">
          <h1>Tailored to you</h1>
          <p>
            No matter your experience level, you'll be writing
            <b>real, functional code within minutes</b> of starting your first
            course.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://i.postimg.cc/mZPd9pjS/Screenshot-20220115-105942-2.png "
          alt=""
        />

        <div class="texts">
          <h1>Bite-sized</h1>
          <p style="font-size: 18px">
            Go step-by-step through our unique courses. Assess what you’ve
            learned with in-lesson quizzes, and
            <b>gradually advance your skills with practice.</b>
          </p>
        </div>
      </div>
      <div class="card">f
        <img
          src="https://i.postimg.cc/YqcxWrhp/Screenshot-20220115-110011-2.png "
          alt=""
        />
        <div class="texts">
          <h1>Get proof</h1>
          <p>
            <b>Earn a certificate</b> to validate your newly acquired skills.
            Post it on social for others to see.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://i.postimg.cc/NfF1YThR/Screenshot-20220115-110038-2.png "
          alt=""
        />

        <div class="texts">
          <h1>More than 20 courses</h1>
          <p>
            From Python, through data, to web dev.
            <b>We got everything you need.</b>
          </p>
          <a
            href="#"
            style="
              color: #2493df;
              font-size: 20px;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
            >Go to courses ></a
          >
        </div>
      </div>
      <div class="big_card">
        <img
          class="img_1"
          src="https://i.postimg.cc/kXNcsH6w/Screenshot-20220115-130702-2.png"
          alt=""
        />
        <h1>Learning on the go</h1>
        <p>
          <b>Learn on the web or on the go.</b> Sololearn is always ready for
          you and you'll never lose your place.
        </p>
        <img
          class="img_2"
          src="https://i.postimg.cc/CL85ky2r/antalya-turkey-september-21-2020-260nw-1931705552-2.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="section_3">
      <h1>The perfect platform to boost your technical skills</h1>
      <div class="cards">
        <div class="card_1">
          <img
            src="https://i.postimg.cc/7P3cG8J9/Screenshot-20220115-133853-2.png"
            alt=""
          />
          <h3>Students</h3>
          <p>
            Prepping for the big test or want to ace your first interview? Use
            Sololearn's real-world practice to reinforce what you've learned and
            get you ready for that big moment.
          </p>
        </div>
        <div class="card_1">
          <img
            src="https://i.postimg.cc/mgH7kRt2/Screenshot-20220115-133858-2.png"
            alt=""
          />
          <h3>Professionals</h3>
          <p>
            You can learn something totally new to advance your career. Or maybe
            you just want to knock off the rust. Try Sololearn to get access to
            a variety of courses, from machine learning to web development.
          </p>
        </div>
      </div>
    </div>
    <div class="section4">
      <h3>Supportive community</h3>
      <h1>49,307,032</h1>
      <p>
        Share your code or questions and get instant feedback or become a
        creator and <br />
        spread your knowledge and experience with our global community of
        learners.
      </p>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
