<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" href="../css/codeplayground.css">
    <script src="../js/register.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/home" style="color: white;">SoloLearn</a></div>
        <ul class="nav-links">
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
            <li><a href="/courses">Courses</a></li>
            <li><a href="/codeplayground">Code Playground</a></li>
            <li><a href="/discuss">Discuss</a></li>
            <li><a href="/blog">Blog</a></li>
            <div class="login_register">
              <button class="login"><a href="/login">Log in</a></button>
              <button class="register"><a href="/register">Register</a></button>
            </div>
          </div>
        </ul>
      </nav>
</body>
</html>